

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 650px;
    background-image: url("images/bg1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}


/* Global Stylings */
input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}
.container{
    width: 360px;
    height: 870px;
    margin: 8% auto;
    background: #fff;
    border-radius: 10px;
    position: relative;
    left: -350px;
}

form h3{
    position: relative;
    text-align: center;
    color: #110202;
    
    
}
.container form{
    width:280px;
    position: absolute;
    top: 50px;
    left:30px;

}

form input{
    width: 100;
    margin: 15px 0 5px;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
::placeholder{
    color: #777;
}

.btn{
    position: relative;
    text-align: center;
    width: 110px;
    height: 35px;
    margin: 10px;
    background: linear-gradient(to right, #f84509, #e68d09);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #0e0101;
    cursor: pointer;
    right: -70px;


    
}

.category{
    
    width: 300px;
    height: 35px;
    border-color: #777;
    margin-top: 13px;
    color: #777;
    
}

.description{
    position: relative;
    width: 290px;
    margin-top: 10px;
    top: 15px;

}

textarea{
    padding-top: 14px;
    padding-left: 10px;

}

.seller{
    position: relative;
    padding-top: 20px;
    
}

 input[type="file"]{
    display: none;
 }


 label{
     color: #777;
     height: 35px;
     width: 300px;
     position: relative;
     margin: auto;
     top: 10px;
     bottom: 0px;
     left: 0px;
     right: 0px;
     font-size: 20px;
     display: flex;
     border: solid #777;
     border-width: 1px;
 }

 .material-icons{
    position: relative;
    align-items: start;
    justify-content: left;
    left: 8px;
    top: 7px;
 }






  