body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
header {
  height: 45px;
  background-color: #443f3f;
  text-emphasis-color: rgb(249, 249, 255);
  padding: 20px;
}
nav {
  float: right;
  color: white;
}
nav li {
  display:inline-block;
  margin-left: 30px;
}
nav ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background:#02598b;
  display:block;
  margin:auto;
  transition: 0.5s;
}
nav ul li.active,
nav ul li:hover{
  background-color: rgb(0, 0, 0);
}
nav a {
  color: #ffebeb;
  text-decoration: none;
}
.pic{
  text-align: right;
  padding-right: 20px;
  color: #dfd4d4;
  background-image: url("image/home.jpg");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.heading{
  padding-left: 40px;
}
/* Styling for the search bar */
    .search-container {
      float: right;
      padding-right: 20px;
      position: relative;
      display: inline-block;
      
    }
    
    .search-container input[type=text] {
      padding: 10px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
      width: 300px;
    }
    
    .search-container button {
      padding: 10px;
      margin-top: 8px;
      background: #ccc;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    
    /* Styling for the dropdown content */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 300px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    .show {
      display: block;
    }
section {
  padding: 10px;
}
section h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
section h2 {
  padding-left: 35px;
  color:#02598b;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}
section ul {
  justify-content:space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}
section ul img{
  height: 200px;
  width: 150px;
  max-width: 150px;
}
section li {
  justify-content: space-between;
  padding-top: 15px;

  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

li button a {
  text-decoration: none;
  color: white;
}

section img {
  max-width: 100%;
  max-height:200px;
}
section h3 {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
}
section p {
  color: #999;
  margin-bottom: 10px;
  text-align: center;
}
button {
  background-color: #333;
  border:none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  border-radius: 88px;
  margin-bottom: 10px;
}
section ul {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px;
}
.all-view.h5 button{
  position: relative;
  background-color: black;
  float: right;
  margin-right: 45px;

}

h5 button a {
  text-align: center;
  float:right;
  color: #f1eeee;
  text-decoration:none;
  padding-top: 0px;
}

footer{
  padding-top: 10px;
  background-color: #333;
  text-align: center;
}
footer h2{
  color: #dfd4d4;
}
#about{
  text-align: center;
  color: #dfd4d4;
}
.icon{
background-color: #f1eeee;
height: 45px;
}
.material-symbols-outlined{
  padding-top: 10px;
  background-color: #f1eeee;
  height: 35px;
}
div form span{
  padding-left: 10px;
}
section img:hover{
   transform:translateY(-1rem);
}

  .CS,
  .ME,
  .EC,
  .CE,
  .AM,
  .EE{
    position: relative;
    background-color:#e9ecec;
    top: 20px;
  }

  h2,
  h3
  ,p{
          font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
          
  }


h2{
  position: relative;
  font-size: 1.2em;
  font-weight: 400;
  color: #02598b;
  margin-bottom: .5em;
  margin-top: 1.75em;
  text-decoration: underline;
  margin-left: 2rem;
}

h2:hover{
  color: #43a35b;
}
footer {
  background-color: #524e4e;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: rgb(255, 251, 251);
}

footer a {
  color: rgb(255, 251, 251);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
footer.line{
  float: inline-start;
}
footer img{
  height: 50px;
  width: 50px;
  justify-content: space-around;
}
footer .terms{
  text-align: right;
}