<html>
    <head>
        <title>view</title>
        <link rel="stylesheet" href="color.css">
    </head>
    <body>
        <div class="view">
        <img src="python.jpg" alt="">
            <div class="letter">
                <p style="color: red;">MRP:150</p>
                <p>publication/Author: Stacy stokes</p>
                <p>Edition(year): march 2022</p>
                <p>Old Price:399</p>
                <button type="submit">Contact</button>
            </div>
        </div>
    </body>
</html>